.navbar-static-top{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}

.name-title {
	color: white;
}

.logo-image{
	height: 60px;
	width: 60px;
}

.about-img {
	background: url('../img/hike.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 550px;
	width: 400px;
	margin-top: 25px;
}

.about-page {
	padding-top: 20vh;
}

section.full-section {
	padding-top:70px;
    padding-bottom:50px;
    /*min-height:calc(100% - 1px);*/
		height: 100vh;
}

section.fuller-section{
	padding-top:70px;
  padding-bottom:50px;
	height: 120vh;
}

footer {
  text-align: center;
	opacity: 1;
  background-color: rgba(0,0,0,1);
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.img-circle {
    position: absolute;
    left: 70%;
    top: 10%;
    border-radius: 50%;
    height: 300px;
		border-color: white;
		border-style: solid;
		border-width: 5px;
}


#topSection{
	background: url('../img/cliff-1845955.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section1{
	background: url('../img/topography.png') repeat;
}

#section3 {
	background: url('../img/los-angeles-1262207.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-form .form-control{
	border:none;
	box-shadow:none;
	border-radius:0;
	border-bottom: 1px solid #000;
	transition: 1s ease;
	font-weight: bold;
	}
	.contact-form .form-control:focus{
	transition: 1s ease;
	border-bottom: 1px solid #000;
	}
	.contact-main  .contact-main-title h2{
	margin-top:0;
	}

.send-msg{
color:#000;
border:1px solid #000;
height:40px;
background-color:transparent;
transition: all 0.8s ease-out;
margin-top:10px;
}

.send-msg:hover{
color:#fff;
border:1px solid #fff;
height:40px;
background-color:#000;
}

.panel-image {
    position: relative;
}
.panel-image img.panel-image-preview {
    width: 100%;
		height: 300px;
	border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-body {
   overflow: hidden;
}
